<div class="panel panel-default">
  <div class="panel-heading">{{activeBeer.name}}</div>
  <div class="panel-body">
    <div class="row">
    	<div class="col-sm-2">
    		<img width="150px" height="150px" class="img-rounded" ng-src="{{'img/' + activeBeer.photo}}"/>
    	</div>
    	<div class="col-sm-9 col-sm-offset-1">
    		<p class="form-control">{{activeBeer.name}}</p>
    			<p class="well">{{activeBeer.description}}</p>
		   	<div class="row">
			  	<div class="col-sm-6">
			    	<p class="form-control">{{activeBeer.created_at}}</p>
			  	</div><!-- /.col-sm-6 -->
			  	<div class="col-sm-6">
			      	<p class="form-control">{{activeBeer.updated_at}}</p>
			  	</div><!-- /.col-sm-6 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-sm-9">
					<p class="form-control">{{showBreweryName()}}</p>
				</div>
				<div class="col-sm-3">
					<button class="btn btn-default" ng-click="showBrewery()">Afficher Brasseur</button>
				</div>
			</div>
    	</div>
    </div>
  </div>
</div>
<button class="btn btn-default" ng-click="showBeers()"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste des bières</button>